<h1>Upcoming Events</h1>

<div class="upcoming-events">
  <% if signed_in? %>
    <% @upcoming_events.each do |event| %>
    <tr>
        <td><%= event.name %></td>
    </tr>
    <br>
    <tr>
        <td><%= event.description %></td>
    </tr>
    <br>
    <tr>
        <strong>Posted by: <%= "#{current_user.email}" %></strong>
    </tr>
    <br>
    <tr>
        <strong>Created at: <%= event.created_at %></strong>
    </tr>
    <br>
    <%= link_to 'Attend This Event', "/events/#{event.id}" %><br><br>
    <% end %>
  <% end %>
</div>

<h2>Past Events</h2>

<div class="past-events">
  <% if signed_in? %>
    <% @past_events.each do |event| %>
    <tr>
        <td><%= event.name %></td>
    </tr>
    <br>
    <tr>
        <td><%= event.description %></td>
    </tr>
    <br>
    <tr>
        <strong>Posted by: <%= "user (#{current_user.id})" %></strong>
    </tr>
    <br>
    <tr>
        <strong>Event date: <%= event.date %></strong>
    </tr>
    <br><br>
    <% end %>
  <% end %>
</div>

<%= link_to 'Post New Event', '/events/new' %><br><br>
<%= link_to 'Profile', '/users/profile' %>
