<h1>Create A New Event</h1>

<%= form_with model: @event do |form| %>
  <%= form.label :name, 'Event Name' %><br />
  <%= form.text_field :name %>
  <br><br>
  <%= form.label :description, 'Details' %><br />
  <%= form.text_area :description, size: "60x10" %>
  <br><br>
  <% form.hidden_field :user_id, value: current_user.id %>
  <%= form.submit %>
<% end %><br><br>

<%= link_to 'All Events', events_path(@event) %>
