<h1>Event Details</h1>

<div class="event-info">
  <% if signed_in? %>
    <tr>
        <td><%= @event.name %></td>
    </tr>
    <br>
    <tr>
        <td><%= @event.description %></td>
    </tr>
    <br>
    <tr>
        <strong>Posted by: <%= "#{current_user.email}" %></strong>
    </tr>
    <br>
    <tr>
        <strong>Created at <%= @event.created_at %></strong>
    </tr>
    <br><br>
  <% end %>
</div>

<div class="attendance">
  <button type="button" name="button"><%= link_to 'Attend Event', "/events/#{@event.id}" %></button><br><br>
</div>



<%= link_to 'Post New Event', '/events/new' %>
<br><br>
<%= link_to 'All Events', events_path(@event) %>
