<h1>Event Details</h1>

<div class="event-info">
  <% if signed_in? %>
    <tr>
        <td><%= event.name %></td>
    </tr>
    <br><br>
    <tr>
        <td><%= event.description %></td>
    </tr>
    <br><br>
    <tr>
        <strong>Posted by: <%= "user (#{current_user.id})" %></strong>
    </tr>
    <br>
    <tr>
        <strong>Created at <%= event.created_at %></strong>
    </tr>
    <br>
    <%= show_attend_button(@event) %>
    <br>
    <%= show_attendees(@attendees)  %>
    <br><br>
  <% end %>
</div>

<%= link_to 'Post New Event', '/events/new' %>
<br><br>
<%= link_to 'All Events', events_path(@event) %>
